.scrool::-webkit-scrollbar{
    width: 6px;
}
.scrool::-webkit-scrollbar-thumb{
    background:black;
    border-radius: 10px;
}
.scrool::-webkit-scrollbar-track{
    background: white;
}

.nav{
    /* position: fixed; */
    width: 25%;
  height: 25vh; 
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}
